.p {
  display: flex;
  justify-content: center;

width: fit-content;
  font-size: 40px;
}
.home{
  display: flex;
width: 100%;
margin-top: 60px;

justify-content: center;
}

.table {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  border-radius: 15px;
  padding: 15px;
  

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.527);
  width: 100%; /* Ocupa el 100% del ancho del padre */
  box-sizing: border-box; /* Asegura que el padding no desborde el ancho */
}


.container{

width: 100%;

}

.containerButton{
  margin-left: 5px;

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;



}
.containerFilter{


  width: auto;
  height: auto;
  display: flex;
  justify-content: center;


}

.modifyButton{

  color: rgb(0, 0, 0);
  
  
    background-color: #73C4E7;
  }



  .modifyButton:active{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transform: scale(0.95);  }

.closeButton{
margin: 10px;
color: white;
transition: transform 0.1s ease, box-shadow 0.1s ease; 

  background-color: #FA5246;
}
.closeButton:active{
  transform: scale(0.95); 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 


}
.changeButton{

  background-color: #02C4A7;
  transition: transform 0.1s ease, box-shadow 0.1s ease; 
  color: rgb(0, 0, 0);

}
.changeButton:active{

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transform: scale(0.95);


}

.addButton{
  margin-left: 5px;
  
  
  }

.saveButton{
  margin: 10px;
  
  color: white;
  transition: transform 0.1s ease, box-shadow 0.1s ease; 
    background-color: #2E7D31;
  }



  .saveButton:active{

    transform: scale(0.95); 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 

  }
.button{

  transition: transform 0.1s ease, box-shadow 0.1s ease; 



}

.button:active{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  transform: scale(0.95); 

}

.inputJustify{
width: auto;


  white-space: normal; /* Permite los saltos de línea */
  overflow-wrap: break-word; /* Permite el corte de palabras largas */
  resize: none; /* Evita que el usuario cambie el tamaño del textarea */







}

  .inputJustify:focus{
    width: 140px;
  white-space: nowrap;
    height: 50px;}
  
  

    .scrollModal{
      height: 40vh ;
      overflow-y: scroll;
      overflow-x: none;  
      justify-content: center;
  
      border-radius: 10px;
   
      padding: 3px;

      white-space: nowrap; 
  
    }



  .scrollTable {
    height: 600px;
    overflow-y: scroll;
    overflow-x: none;  
    justify-content: center;
padding: 4px;
padding-top: 10px;

  
    
 
   
    border-radius: 10px;
   
  

    white-space: nowrap;
  }
  
 
  .scrollTable::-webkit-scrollbar {
    width: 10px;      
  }
  
  .scrollTable::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5PX;
  }
  
  .scrollTable::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  

  .displayLeft{

    display: flex;
    justify-content: flex-end;
margin-right: 1%;
  }






.marginleft{

padding-left: 10px;



}


.checkbox {
  cursor: pointer;
  background-image: none;
 background-color: #cdffe0;
  width: 38px;
 
  height: 38px;
  appearance: none;
  border: 1px solid #19725D;
  transition: background-color 0.3s ease-in-out;
}



.checkbox:checked {
  background-color:#77BDFF;
  width: 38px;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");

  height: 38px;
}



.checkbox:focus {
  width: 38px;
  height: 38px;


}


.checkbox:disabled {

  background-image: none;
  width: 38px;
  height: 38px;
} 

.checkbox:disabled:checked {
   width: 38px;
  height: 38px;
  background-color: #51b8a8;
 
} 


.checkboxLabel {

width: 300px;
  font-weight: 500;
  margin-left: 10px;
}



  
  
.displayTitle {
  align-items: center;

height: fit-content;
margin-top: 10px;

  display: flex;
  border-radius: 5px;
  background-color: #d9d9d9;
}

.titles {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;
  margin-left: 0;
}

.titlePage {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}


.containerBetween {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.flexInput {

  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.containerRows {
  display: flex;               
  flex-direction: column;      

  justify-content: center;
  width: auto;   
}

.productRow {
  display: flex;              
  align-items: center;
  flex: 1;    
  flex-wrap: wrap; 

  width: auto;               
  margin-bottom: 5px;      

}

.cell {
  display: flex;               
  flex: 1;            
/*border: solid 1px red;*/
  width: 100px;
  margin: 0px  10px;
  height: 50px;             
           
  box-sizing: border-box;     
  align-items: center;        
  justify-content: center;   
  text-align: center;         
}

.errorMessage{
align-items: center;
justify-content: center;
color: red;
text-align: center;
width: 100%;

}


.filterWrapper {
  position: relative; /* Hace que el panel se posicione relativo al botón */
  width: 100px;

  height: 50px;
}

.filterContainer {
  
  top: 0; /* Esto coloca el div justo debajo del botón */
  left: 0;
  width: 0;
  max-height: 0; /* Inicia con max-height en 0 */
  
  border:1px #2E7D31 solid;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  transition: width 0.5s ease-in-out, max-height 0.5s ease-in-out, padding 0.5s ease-in-out ; /* Transiciones */
  
  border-radius: 5px;
  padding: 0; /* Sin padding inicial */
  z-index: 1; /* Para que el div quede por encima de otros elementos si es necesario */
}

/* Estilo para cuando está completamente abierto */
.openFilter {
  width: 200px; /* Ajusta el ancho según tu preferencia */
  height: auto;
  max-height: 400px; /* Ajusta según el contenido que esperas */


}

.filterButtonContainer{

  margin-left: 5px;
margin-right: 5px;
width: 100%;
  height: auto;
  display: flex;
  justify-content: center;




}

/* Estilo para el estado semi abierto */
.semiOpenFilter {
  height: auto;
  width: 100px; /* Ancho fijo */
  max-height:50px; /* Altura para el estado semi abierto */

}

.buttonFilterElements{
width: 100%;
margin-right: 10px;
margin-top: 5px;
margin-bottom: 5px;

justify-content: center;
}



.buttonFilter {
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
display: flex;
}


.inputFilter{                     
margin-left: 5px;
width: auto;
width: 185px;
margin-bottom: 2px;
}


.marginFilter{
  margin-bottom: 7px;
  
  }

.cursorPointer{
cursor: pointer;



}





.hoverRows:hover {
  background-color: #faf9fa;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* La sombra se aplica solo en hover */
}



.hoverRows {
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}














@media (max-width: 768px) {
  .p {
    font-size: 50px; 
  }

  .table {
    width: 100%;
  
  }

  .titles, .titlePage {
    font-size: 16px; 
  }

  .containerBetween {
   
    align-items: center;
  }

  .cell {
    display: flex;               
    flex: 1;            

    min-width: 80px;
    margin: 0px  10px;
    height: 50px;             
             
    box-sizing: border-box;     
    align-items: center;        
    justify-content: center;   
    text-align: center;         
  }




}


@media (max-width: 480px) {

  .containerBetween {
    display: flex;
    justify-content: space-between;
  }

 .productRow{
 

border: solid 0.5px #78716C;
border-radius: 10px;


 }
 .scrollModal{
  height: 40vh ;
  overflow-y: scroll;
  overflow-x: none;  
  justify-content: center;

  border-radius: 10px;



  white-space: nowrap; 

}
  .titles, .titlePage {
    font-size: 20px; /* Fuente más pequeña en pantallas muy pequeñas */
  }

  .containerButton{
    margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  
  
  
  }

  .closeButton, .saveButton {
    font-size: 10px; /* Ajusta el tamaño de fuente de los botones */
    width: 100px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2PX;
  }
  .cell {
    align-items: center;
    justify-content: center;
    display: flex;               
    flex: 1;      
    

    min-width: 60px;
   
    height: 60px;             
             
    box-sizing: border-box;     
   
  }

}




@media (prefers-color-scheme: dark) {





  .checkbox {
    cursor: pointer;
    background-image: none;
   background-color: #00000000;
    width: 38px;
   
    height: 38px;
    appearance: none;
    border: 1px solid #19725D;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  
  .checkbox:checked {
    background-color:#77BDFF;
    width: 38px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  
    height: 38px;
  }
  
  
  
  .checkbox:focus {
    width: 38px;
    height: 38px;
    background-image: none;
  
  }
  
  
  .checkbox:disabled {
  
    background-image: none;
    width: 38px;
    height: 38px;
  } 
  
  .checkbox:disabled:checked {
     width: 38px;
    height: 38px;
    background-color: #51b8a8;
   
  } 
  
  
  .checkboxLabel {
  
  width: 300px;
    font-weight: 500;
    margin-left: 10px;
  }
  

  .table {
   background-color: #3C3C3C;
  }

 .titlePage {
   color: white;

  }

  .filterContainer {


    background-color: #3C3C3C;
  }
  .displayTitle{



    background-color: #5D5D5D;
  }
  .productRow{

color: white;


  }


  .hoverRows:hover {
    background-color: #343434;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.575); /* La sombra se aplica solo en hover */
  }
  
}