.contain {
  display: flex;
  min-height: 97vh;
  height: fit-content;
  background-color: #FAFAF9; 

}

.sidebar {
  width: 200px; 

  background-color: #FAFAF9; 
  flex-shrink: 0; 
height: fit-content;


}

.content {
  flex-grow: 1; 
  padding: 20px; 
  background-color: #FAFAF9; 
}










 
.sidenav {
 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
 
  overflow-x: hidden; 
  transition: 0.5s; 
  padding-top: 60px; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;

  display: block;
  transition: 0.3s;
}



.open {
  width: 250px; 
}

.menuBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 15px;

  margin: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}


@media (max-width: 768px) {
   
  .sidebar {
display: none;
  
  }
}


@media (max-width: 480px) {
 
}