.navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y los enlaces */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #E9E9E9; /* Color de fondo del navbar */

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
  }

 .nav{

display: flex;

 }
  .navLinks {
    list-style: none; /* Quitar los puntos de la lista */
    display: flex; /* Hacer la lista horizontal */
   
  }
  
  .navLinks li a {
   
    text-decoration: none; /* Sin subrayado */
    color: rgb(0, 0, 0); /* Color de los enlaces */
    font-weight: bold;
    font-size: 16px; /* Tamaño de la fuente de los enlaces */
    transition: color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .logoContainer {
   background-color: #F0FDF5;
    border-radius: 10px;
      height: 30px; /* Para que ocupe toda la altura de la ventana */
      width:  30px;
    
    }
  .activeIcon{
    background-color: #08B69C;
 
    border-radius: 10px;
      height: 30px; /* Para que ocupe toda la altura de la ventana */
      width:  30px;
      animation: fadeIn 0.5s ease-in-out; /* Aplica la animación */
    }
    
    @keyframes fadeIn {
      from {
        background-color: #00ffd963; /* Fondo transparente al inicio */
      }
      to {
        background-color: #08B69C; /* Transición al fondo con opacidad */
      }
    }
  .logo {
    padding-left: 10px;
    font-size: 20px; /* Tamaño de la fuente del logo */
    color: rgb(0, 0, 0); /* Color del texto del logo */
    font-weight: bold; /* Negrita para el logo */
  }
  


  .container {
 
    height: 400px; /* Para que ocupe toda la altura de la ventana */
    width:  200px;
  }



  .menuBtn {
display: none;
  }

  .dropdownMenu {
    list-style: none; /* Quitar los puntos de la lista */

    position: absolute;
    top: 44px;
    right: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
width: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .dropdownMenu a {
    display: block;
    color: white;
    text-decoration: none;

    margin: 5px 0;
  }
  .menuRow {

    width: 30px; /* Ancho del SideNav */
    height: 40px;
    display: flex;
    padding:0%;
    padding-left: 5%;
    text-align: left;
    background-color: #ff000000; /* Color de fondo del sidebar */
 
  color: black;
   border: solid rgba(245, 245, 220, 0);
  
  
  }
  .labelContent:hover{
  
  
    background-color: #D9D9D9
  
  
  }
  .activeLabel{

    background-color: #D9D9D9

  }
  .hideDropdown{
display: none;


   }
  .labelContent{
  display: flex;
  width: 140px;
  align-items: center;
border-radius: 5px;
padding: 0px;

padding-left: 3%;
  }
  
  .opening {
    animation: dropdown-open 1s ease-out forwards;
  }


  .closing {
    animation: dropdown-close 1s ease-in forwards;
  }
  .containerSidebar{
  
    padding-top: 10px;
  background-color: #ffffff;
  border: solid 1.6px rgba(129, 129, 129, 0.479);
  border-radius: 15px;
  width: 195px;;
  height: 100%;
  
  }


  
@media (prefers-color-scheme: dark) {

.logo{
color: white;



}
.labelContent{


background-color: #343434;


}
  .navbar {
    display: flex;
    justify-content: space-between; /* Espacio entre el logo y los enlaces */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #3C3C3C; /* Color de fondo del navbar */

    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* Sombra para darle profundidad */
  }



  .dropdownMenu{


background-color: #343434;


  }




.containerSidebar{



  background-color: #343434;
}
.activeLabel {
  background-color: #525151;
}
.content{

  background-color: #1E1E1E;



}


.menuRow{

color: white;
}







.menuRow:hover{

background-color: #525151;
  
  
  }


  .labelContent:hover {
    background-color: #525151;
  }

}


@keyframes dropdown-open {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-10PX);
    opacity: 1;
  }
}

@keyframes dropdown-close {
  from {
    transform: translateX(-10PX);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}

/* Responsive Design */
@media (max-width: 748px) {
  .hideDropdown{
    
    
    display: block;}
  .logoContainer {
   margin-left: 10px;
margin-top: 5px;
    border-radius: 10px;
      height: 40px; /* Para que ocupe toda la altura de la ventana */
      width:  40px;
    
    }
    .activeLabel{

width: 10px;

    }
  .menuRow {
 
    width: 100%;
    height: 40px;
  

   justify-content: center;

   border: solid rgba(245, 245, 220, 0);
  
  
  }
  .dropdownMenu {
    position: absolute;
    top: 44px;
    right: 10px;
    width: 85px;
 
    border-radius: 5px;
    padding: 10px;
margin: 0%;
 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  .dropdownMenu a {
    display: block;
    color: white;
    text-decoration: none;
  

    margin: 5px 0;
  }

  .navLinks {
    display: none;
  }
  .menuBtn {
    height: 50px;
    color: white;

        background: blue;
    align-items: center;
    display: flex;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
      }





      .labelContent{
  
        display: flex;
        width: 65px;
        justify-content: center;
        align-items: center;
      border-radius: 5px;
      padding: 0px;
      
 
        }
    }
    @media (max-width: 480px) {



      .logoContainer {
        margin-left: 10px;
     margin-top: 5px;
         border-radius: 10px;
           height: 40px; /* Para que ocupe toda la altura de la ventana */
           width:  40px;
         
         }
         .activeLabel{
     
     width: 10px;
     
         }
       .menuRow {
      
         width: 100%;
         height: 40px;
       
         padding:0%;
         padding-left: 5%;
         justify-content: center;
   
        border: solid rgba(245, 245, 220, 0);
       
       
       }
       .dropdownMenu {
         position: absolute;
         top: 44px;
         right: 10px;
         width: 85px;
      
         border-radius: 5px;
         padding: 10px;
     margin: 0%;
      
         box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
       }
       .dropdownMenu a {
         display: block;
         color: white;
         text-decoration: none;
       
     
         margin: 5px 0;
       }
     
       .navLinks {
         display: none;
       }
       .menuBtn {
         height: 40px;
             background: none;
         align-items: center;
         display: flex;
             font-size: 1.5rem;
             border: none;
             cursor: pointer;
           }
     
     
     
     
     
           .labelContent{
          
             display: flex;
             width: 65px;
             justify-content: center;
             align-items: center;
           border-radius: 5px;
           padding: 0px;
           
      
             }




    }