.container {
  height: 100%; /* Para que ocupe toda la altura de la ventana */
  width: 200px;

}
.logoContainer {
  background-color: #f0fdf5;
  border: solid 1px #19725d;
  border-radius: 15%;
  height: 30px; /* Para que ocupe toda la altura de la ventana */
  width: 30px;
}
.menuRow {
  width: 80%; /* Ancho del SideNav */
  height: 40px;
  cursor: pointer;
  padding: 2%;
  text-align: left;
  background-color: #ffffff00; 
  flex-shrink: 0; 
  color: black;
  border: solid rgba(245, 245, 220, 0);
}
.labelContent:hover {
  background-color: #d9d9d9;
}
.activeIcon {
  background-color: #08b69c;

  height: 30px; 
  width: 30px;
  animation: fadeIn 0.5s ease-in-out; /* Aplica la animación */
}

@keyframes fadeIn {
  from {
    background-color: #00ffd963; /* Fondo transparente al inicio */
  }
  to {
    background-color: #08b69c; /* Transición al fondo con opacidad */
  }
}

.activeLabel {
  background-color: #d9d9d9;
  
}
.labelContent {
  display: flex;

  align-items: center;
  padding-left: 10px;
}


.containerSidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  border: solid 1.6px rgba(129, 129, 129, 0.479);
  border-radius: 15px;
  width: 195px;
  height: 800px;
}

.containerTitle {


 
 width: 200px;

  overflow: auto;
;

justify-content: center;
align-items: center;
}








.containerIconTitle{

display: flex;
 
  width: 200px;
 
   overflow: auto;
 ;
 
 justify-content: center;
 align-items: center;
 }









.titleDashboard {
  font-weight: bold;
  font-size: 20px;
  width: auto;
  justify-content: center;
  text-align: center;
}

.containerIcon {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 55px;
  height:55px;
border-radius: 5px;
  background-color: #04EECB;
  border: solid 2px #08B69C;
}

.contain {
  display: flex;
  min-height: 97vh;
  height: fit-content;
  background-color: #FAFAF9; 

}




















.sidebar {
  width: 200px; 


  flex-shrink: 0; 
height: fit-content;


}

.content {
  flex-grow: 1; 
  padding: 20px; 

}










 
.sidenav {
 

}





.open {

}

.menuBtn {
 display: none;
}



@media (max-width: 1000px) {
  .sidenav {
 
    width: 0; 
    display: block;
    z-index: 1; 
    top: 0;
    left: 0;
   
    overflow-x: hidden; 
    transition: 0.5s; 
 
  }
  .open {
    width: 250px; 
  }
  .sidenav a {
  
    text-decoration: none;
  
    transition: 0.3s;
  }
  .content {
    flex-grow: 1; 
    padding: 10px; 
  
  }
  .menuBtn {
    font-size: 20px;
    cursor: pointer;
    display: block;
    background-color: #111;
    color: white;
    border: none;
  position: absolute;
  
    margin: 10px;

    top: 10px;
    left: 10px;
  }
  

}


@media (max-width: 480px) {
 
}






@media (prefers-color-scheme: dark) {
  .contain {
   background-color: #1E1E1E;
  }
.containerSidebar{



  background-color: #343434;
}



.content {
  flex-grow: 1; 
  padding: 5px; 

}






.activeLabel {
  background-color: #525151;
}
.content{

  background-color: #1E1E1E;



}
.menuRow{

color: white;


}






.menuRow:hover{

background-color: #3C3C3C;
  
  
  }


  .labelContent:hover {
    background-color: #3C3C3C;
  }

}