.container{
    width: 800px;
    height: auto;

    
    }



    @media (max-width: 768px) {

        .container{
            width: auto;
            height: auto;
        
            
            }
        




    }
    

  @media (max-width: 480px) {

    .container{
        width: auto;
        height: auto;
       
        margin-left: 4PX;
        margin-right: 4PX;
        }

 
  }