
.containerButton {

    height: auto;
    display: flex;

    justify-content: center;
  }
.container{
display: block;

padding: 10px;

}

  .button{

margin: 10px;
cursor: pointer;

  }
.titleInput{
  margin: 10px;
}