
.containerButton {

    height: auto;
    display: flex;

    justify-content: center;
  }
.container{

display: flex;


}

  .button{

margin: 10px;
cursor: pointer;

  }

.containerSale{
display: flex;
width: 100%;

justify-content: end;


}
  .displayPayment{
margin-top: 5px;

width: fit-content;
border: solid 1.5px #78716c63;
padding: 5px;
border-radius: 10px;
padding-bottom: 0px;
background-color: hsl(0, 0%, 100%);
  }

.inputPayment{
margin-left: 10px;
display: flex;
width: 170px;

  }
.containerImputPayment{
margin-right: 10px;
display: flex;

  }
  .inputPayment:focus{

    margin-left: 10px;
    display: flex;
    width: 170px;
    
      }


      .containerButton{
  

        height: auto;
        display: flex;
        justify-content: end;


      
      }
      



      .modalWidth{
width: 400px;


      }

  .flexInput{
    display: flex;
width: auto;
align-items: end;
justify-content: end;
margin-bottom: 5px;
  }
  .flexInputTitle{
    display: flex;
width: auto;
align-items: end;
justify-content: end;
margin-bottom: 5px;
  }

  .containerInputSale{
    display: flex;

align-items: center;
justify-content: center;
margin-bottom: 5px;
  }



  .modalContent{

    background-color: rgb(255, 255, 255);
    position: fixed;
   width: 400px;
    min-height: 100px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.527);
    justify-content: center;
    align-items: center;
    }
   


    
@media (prefers-color-scheme: dark) {


.displayPayment{
background-color: #343434;

border: solid 0.5px #78716C;
}
}












  @media (max-width: 480px) {

    .inputPayment{
      margin-left: 10px;
      display: flex;
      width: 170px;
      
        }
   
        .inputPayment:focus{
      
          margin-left: 10px;
          display: flex;
          width: 150px;
          
            }
    .containerSale{
      display: flex;
      width: 100%;

         
      
      }



  }