:root {
  --background: #0a0a0a;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
button{
  width: auto;
border-radius: 5px;
border-style: none;
background-color: #86EFAC;
color: #0a0a0a;
padding: 10px;
cursor: pointer;
display: flex;
align-items: center;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
input{
height: 30px;

  padding-left: 3px;
width: auto;
border: solid 0.5px #78716C;
border-radius: 10px ;
background-color: rgb(255, 255, 255);
color: #0a0a0a;

width: auto;


}
p {
  font-size: 16px; 
  line-height: 1.5; 
  
  color: #333; 

   
}

input:focus{


   box-shadow: none;
   width: auto;

  border: solid 1px  #08B69C ;
  border-radius: 10px ;
  outline: none; 
  color: #0a0a0a;
  padding-left: 3px;
  
  
  
  }

select{

  height: 30px;
  outline: none; 
  padding-left: 3px;
width: auto;
border: solid 0.5px #78716C;
border-radius: 10px ;
background-color: rgb(255, 255, 255);
color: #0a0a0a;

width: auto;



  }

  select:hover{

    border: solid 1px  #08B69C ;




  }
  input:hover{

    border: solid 1px  #08B69C ;




  }
  select:focus{
  

    box-shadow: none;
    width: auto;
 
   border: solid 1px  #08B69C ;
   border-radius: 10px ;
   outline: none; 
   color: #0a0a0a;
   padding-left: 3px;
   
   
  
    }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 16px; 
    line-height: 1.5; 
   
    text-align: center;
    color: #000000; 
  }

  button{
    align-items: center;
    justify-content: center;
    height: 30px;
  border-radius: 5px;
  border-style: none;
  background-color: #86EFAC;
  color: #0a0a0a;
  padding: 10px;
  width: 90PX;
  display: flex;

  }


}