.contain {
  display: flex;
  height: 100vh; /* Para que ocupe toda la altura de la ventana */
  background-color: #FAFAF9; /* Color de fondo del sidebar */
}

.sidebar {
  width: 200px; /* Ancho del sideNav */
  background-color: #FAFAF9; /* Color de fondo del sidebar */
  flex-shrink: 0; /* Evitar que se reduzca de tamaño */


}

.content {
  flex-grow: 1; /* El contenido principal ocupa todo el espacio restante */
  padding: 20px; /* Espaciado interno */
  background-color: #FAFAF9; /* Color de fondo del contenido */
}
